.introduction {
  display: flex;
  width: 100vw;
  height: 30vw;

}

.introduction-content {
  align-self: center;
  color: #00838f;
  margin-left: 5vw;
  width: 100vw;
}

.introduction-content h1 {
  font-size: 2em;
}

.hl {
  border-bottom: 4px solid #00838f;
  width: 40px;

}

.introduction-content p {
  font-size: 1em;
  margin-top: 2vh;
}

.introduction-right {
  flex-basis: 60%;
}

.introduction-right-parallax {
  height: 100%;
  width: 100%;
}


.introduction-img-1 {
  transform: translateY(4vw);
  width: 30vw;
}

.introduction-content button {
  margin-right: 2vw;
  border-radius: 50px;
  border: none;
  height: 2vw;
  width: 8vw;
  background: #00838f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: .8vw;
}