.whatwecando {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  margin: auto;
  text-align: center;
  background-color: rgba(242, 233, 228, .35);
  color: #00838f
}

.whatwecando h1 {
  margin: 2vh;
  margin-bottom: 5vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.44);
}

.vl {
  border-left: 4px solid #00838f;
  height: 10%;
  position: relative;
  margin-left: 50%;
}

.whatwecando-cards {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  justify-content: center;
  justify-content: space-around;
  margin: auto;
}

.col {
  width: fit-content;
}

.card {
  background-color: #bee3db;
  color: #00838f;
  border-radius: 20px;
  border: none;
  width: 10vw;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.47);
  ;
}