.welcome {
  display: flex;
  height: calc(100vh - 4em);
}

.welcome-left {
  display: flex;
  width: fit-content;
  background: #f2e9e4;
}


.welcome-right {
  display: flex;
  flex-direction: column;
  background: #bee3db;
  width: 100vw;
  box-shadow: .5 .5 .5 .5;
}

.welcome-right-content {
  margin-left: 10vw;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10vw;

}

.welcome-right-content h5 {
  color: #00838f;
  margin-bottom: 1vh;
  font-size: 1vw;
}

.welcome-right-content h1 {
  color: #00838f;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-size: 4vw;
}

.welcome-right-button-book {
  margin-right: 2vw;
  border-radius: 50px;
  border: none;
  height: 2vw;
  width: 8vw;
  background: #00838f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: .8vw;
}

.welcome-right-button-call {
  border-radius: 50px;
  background-color: #bee3db;
  height: 2vw;
  width: 16vw;
  border: solid 1px #00838f;
  color: #00838f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: .8vw;

}